<td>
  <%= link_to user.email, user %>
</td>
<td>
  <% unless user == current_user %>
      <% orig_approved = user.approved %>
      <% if !user.approved? %>
          <% user.approved = true %>
          <%= form_for(user) do |f| %>
              Not Approved
              <%= f.hidden_field :approved %>
              <%= f.submit 'Approve', :class => 'button-xs' %>
          <% end %>
      <% else %>
          <% user.approved = false %>
          <%= form_for(user) do |f| %>
              Approved
              <%= f.hidden_field :approved %>
              <%= f.submit 'Revoke', :class => 'button-xs' %>
          <% end %>
      <% end %>
      <% user.approved = orig_approved %>
  <% end %>
</td>
<td>
  <%= form_for(user) do |f| %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
      <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>