/ scrollToTop
/ ================
.scrollToTop
  %i.icon-up-open-big
/ header start
/ ================
%header.header.fixed.clearfix.navbar.navbar-fixed-top
  .container
    .row
      .col-md-4
        / header-left start
        / ================
        .header-left.clearfix
          / logo
          .logo.smooth-scroll
            %a{:href => "#banner"}
              %img#logo{:alt => "Worthy", :src => "#{asset_path 'home/logo.png'}"}/
          / name-and-slogan
          .site-name-and-slogan.smooth-scroll
            .site-name
              %a{:href => "#banner"} Christopher Lichti
            .site-slogan
              Personal Portal
      / header-left end
      .col-md-8
        / header-right start
        / ================
        .header-right.clearfix
          / main-navigation start
          / ================
          .main-navigation.animated
            / navbar start
            / ================
            %nav.navbar.navbar-default{:role => "navigation"}
              .container-fluid
                / Toggle get grouped for better mobile display
                .navbar-header
                  %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                / Collect the nav links, forms, and other content for toggling
                #navbar-collapse-1.collapse.navbar-collapse.scrollspy.smooth-scroll
                  %ul.nav.navbar-nav.navbar-right
                    %li.active
                      %a{:href => "#banner"} Home
                    %li
                      %a{:href => "#about"} About
                    %li
                      %a{:href => "#services"} Skills
                    %li
                      %a{:href => "#portfolio"} Portfolio
                    %li
                      %a{:href => "#clients"} Clients
                    %li
                      %a{:href => "#contact"} Contact
/ navbar end
/ main-navigation end
/ header-right end
/ header end
/ banner start
/ ================
#banner.banner
  .banner-image
  .banner-caption
    .container
      .row
        .col-md-8.col-md-offset-2.object-non-visible{"data-animation-effect" => "fadeIn"}
          %h1.text-center
            Christopher
            %span Lichti
          %p.lead.text-center Technical founder, executive leader, mobile/web developer, data scientist, musician
/ banner end
/ section start
/ ================
.section.clearfix.object-non-visible{"data-animation-effect" => "fadeIn"}
  .container
    .row
      .col-md-12
        %h1#about.title.text-center
          About
          %span Christopher
        %p.lead.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta officia, aspernatur.
        .space
        .row
          .col-md-6
            %img{:alt => "", :src => "#{ asset_path("home/section-image-1.png") }"}/
            .space
          .col-md-6
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?
            %ul.list-unstyled
              %li
                %i.fa.fa-caret-right.pr-10.text-colored
                Lorem ipsum dolor sit amet
              %li
                %i.fa.fa-caret-right.pr-10.text-colored
                Reiciendis deleniti neque aliquid
              %li
                %i.fa.fa-caret-right.pr-10.text-colored
                Ipsam fuga error commodi
              %li
                %i.fa.fa-caret-right.pr-10.text-colored
                Lorem ipsum dolor sit amet
              %li
                %i.fa.fa-caret-right.pr-10.text-colored
                Dignissimos molestiae necessitatibus
        .space
        %h2 Becessitatibus quae beatae possimus ullam
        .row
          .col-md-6
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?
            %p Vitae dolores quam magnam accusantium nam, voluptatibus expedita delectus, dolorum odio magni ut nemo nihil ex earum pariatur molestias velit eveniet, facere autem saepe aut. Ut minima itaque porro facere. Cumque vitae autem, dignissimos molestiae necessitatibus culpa aliquam deleniti soluta sunt voluptatibus tenetur, unde dolorem eligendi doloribus quibusdam facere totam. Possimus atque deserunt numquam aliquam magnam, facilis officiis illo alias ipsa voluptas laborum, praesentium eveniet nobis velit voluptatem odio eligendi, corporis et iste distinctio! Repellendus, id, ad.
          .col-md-6
            #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                #headingOne.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                      Collapsible Group Item #1
                #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                  .panel-body
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
              .panel.panel-default
                #headingTwo.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                      Collapsible Group Item #2
                #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                  .panel-body
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              .panel.panel-default
                #headingThree.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                      Collapsible Group Item #3
                #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
                  .panel-body
                    Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
/ section end
/ section start
/ ================
.section.translucent-bg.bg-image-1.blue
  .container.object-non-visible{"data-animation-effect" => "fadeIn"}
    %h1#services.text-center.title Skills
    .space
    .row
      .col-sm-6
        .media
          .media-body.text-right
            %h4.media-heading Technology Leadership
            %p Creative innovation and drive with a deep, technical, research background in a wide variety of fields, including video library systems, biomedical informatics, criminal records, and natural language processing.
          .media-right
            %i.fa.fa-cog
        .media
          .media-body.text-right
            %h4.media-heading Agile at Scale
            %p Deep experience with Agile/XP/SCRUM across multiple, geographically diverse, integrated teams.
          .media-right
            %i.fa.fa-check
        .media
          .media-body.text-right
            %h4.media-heading Service 3
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.
          .media-right
            %i.fa.fa-desktop
        .media
          .media-body.text-right
            %h4.media-heading Service 4
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.
          .media-right
            %i.fa.fa-users
      .space.visible-xs
      .col-sm-6
        .media
          .media-left
            %i.fa.fa-leaf
          .media-body
            %h4.media-heading Service 5
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.
        .media
          .media-left
            %i.fa.fa-area-chart
          .media-body
            %h4.media-heading Service 6
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.
        .media
          .media-left
            %i.fa.fa-child
          .media-body
            %h4.media-heading Service 7
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.
        .media
          .media-left
            %i.fa.fa-codepen
          .media-body
            %h4.media-heading Service 8
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.
/ section end
/ section start
/ ================
.default-bg.space.blue
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1.text-center Let's Work Together!
/ section end
/ section start
/ ================
.section
  .container
    %h1#portfolio.text-center.title Portfolio
    .separator
    %p.lead.text-center
      Lorem ipsum dolor sit amet laudantium molestias similique.
      %br/
      Quisquam incidunt ut laboriosam.
    %br/
    .row.object-non-visible{"data-animation-effect" => "fadeIn"}
      .col-md-12
        / isotope filters start
        .filters.text-center
          %ul.nav.nav-pills
            %li.active
              %a{"data-filter" => "*", :href => "#"} All
            %li
              %a{"data-filter" => ".web-design", :href => "#"} Web design
            %li
              %a{"data-filter" => ".app-development", :href => "#"} App development
            %li
              %a{"data-filter" => ".site-building", :href => "#"} Site building
        / isotope filters end
        / portfolio items start
        .isotope-container.row.grid-space-20
          .col-sm-6.col-md-3.isotope-item.web-design
            .image-box
              .overlay-container
                %img{:alt => "", :src => " #{ asset_path( 'home/portfolio-1.jpg')}"}/
                %a.overlay{"data-target" => "#project-1", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Web Design
              %a.btn.btn-default.btn-block{"data-target" => "#project-1", "data-toggle" => "modal"} Project Title
            / Modal
            #project-1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-1-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-1-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-1.jpg') }"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.app-development
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-2.jpg') }"}/
                %a.overlay{"data-target" => "#project-2", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span App Development
              %a.btn.btn-default.btn-block{"data-target" => "#project-2", "data-toggle" => "modal"} Project Title
            / Modal
            #project-2.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-2-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-2-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-2.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.web-design
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-3.jpg')}"}/
                %a.overlay{"data-target" => "#project-3", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Web Design
              %a.btn.btn-default.btn-block{"data-target" => "#project-3", "data-toggle" => "modal"} Project Title
            / Modal
            #project-3.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-3-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-3-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-3.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.site-building
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-4.jpg')}"}/
                %a.overlay{"data-target" => "#project-4", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Site Building
              %a.btn.btn-default.btn-block{"data-target" => "#project-4", "data-toggle" => "modal"} Project Title
            / Modal
            #project-4.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-4-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-4-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-4.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.app-development
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-5.jpg')}"}/
                %a.overlay{"data-target" => "#project-5", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span App Development
              %a.btn.btn-default.btn-block{"data-target" => "#project-5", "data-toggle" => "modal"} Project Title
            / Modal
            #project-5.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-5-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-5-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-5.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.web-design
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-6.jpg')}"}/
                %a.overlay{"data-target" => "#project-6", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Web Design
              %a.btn.btn-default.btn-block{"data-target" => "#project-6", "data-toggle" => "modal"} Project Title
            / Modal
            #project-6.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-6-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-6-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-6.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.site-building
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-7.jpg')}"}/
                %a.overlay{"data-target" => "#project-7", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Site Building
              %a.btn.btn-default.btn-block{"data-target" => "#project-7", "data-toggle" => "modal"} Project Title
            / Modal
            #project-7.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-7-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-7-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-7.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.web-design
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-8.jpg')}"}/
                %a.overlay{"data-target" => "#project-8", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Web Design
              %a.btn.btn-default.btn-block{"data-target" => "#project-8", "data-toggle" => "modal"} Project Title
            / Modal
            #project-8.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-8-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-8-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-8.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.web-design
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-9.jpg')}"}/
                %a.overlay{"data-target" => "#project-9", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Web Design
              %a.btn.btn-default.btn-block{"data-target" => "#project-9", "data-toggle" => "modal"} Project Title
            / Modal
            #project-9.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-9-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-9-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-9.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.site-building
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-10.jpg')}"}/
                %a.overlay{"data-target" => "#project-10", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Site Building
              %a.btn.btn-default.btn-block{"data-target" => "#project-10", "data-toggle" => "modal"} Project Title
            / Modal
            #project-10.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-10-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-10-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-10.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.web-design
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-11.jpg')}"}/
                %a.overlay{"data-target" => "#project-11", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span Web Design
              %a.btn.btn-default.btn-block{"data-target" => "#project-11", "data-toggle" => "modal"} Project Title
            / Modal
            #project-11.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-11-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-11-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-11.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / Modal end
          .col-sm-6.col-md-3.isotope-item.app-development
            .image-box
              .overlay-container
                %img{:alt => "", :src => "#{ asset_path('home/portfolio-12.jpg')}"}/
                %a.overlay{"data-target" => "#project-12", "data-toggle" => "modal"}
                  %i.fa.fa-search-plus
                  %span App Development
              %a.btn.btn-default.btn-block{"data-target" => "#project-12", "data-toggle" => "modal"} Project Title
            / Modal
            #project-12.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "project-12-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog.modal-lg
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                      %span.sr-only Close
                    %h4#project-12-label.modal-title Project Title
                  .modal-body
                    %h3 Project Description
                    .row
                      .col-md-6
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                        %p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                      .col-md-6
                        %img{:alt => "", :src => "#{ asset_path('home/portfolio-12.jpg')}"}/
                  .modal-footer
                    %button.btn.btn-sm.btn-default{"data-dismiss" => "modal", :type => "button"} Close
/ Modal end
/ portfolio items end
/ section end
/ section start
/ ================
.section.translucent-bg.bg-image-2.pb-clear
  .container.object-non-visible{"data-animation-effect" => "fadeIn"}
    %h1#clients.title.text-center Recommendations
    .space
    .row
      .col-md-4
        .media.testimonial
          .media-left
            %img{:alt => "", :src => "#{ asset_path('home/testimonial-1.png')}"}/
          .media-body
            %h3.media-heading Leads by Example
            %blockquote
              %p He is an expert polyglot, full-stack programmer, and a inclusive leader-by-example. I personally worked with him to build Clearbook.com and was astounded by how fast-moving he was even in the face of a very complex, and highly-performant system.
              %footer
                Isaac Laughlin
                %cite{:title => "Source Title"} Senior Manager, Data Science, Co-Founder Creds.me
      .col-md-4
        .media.testimonial
          .media-left
            %img{:alt => "", :src => "#{ asset_path('home/testimonial-2.png')}"}/
          .media-body
            %h3.media-heading Grows and Scales
            %blockquote
              %p It is a great pleasure working with Chris at TrueCar. Chris is not only a remarkable technical leader, his analytical/statistical acumen has also been the key to successfully implementing TrueCar pricing models, price reports, sales trend, etc. He always guides the team to bring in the best practices and methodologies. Given the significant growth of TrueCar over the past two years, the scalability and robustness of the platform that Chris's team has been building is very impressive.
              %footer
                Xingchu Liu
                %cite{:title => "Source Title"} President/General Manager, BlackLocus, The Home Depot
      .col-md-4
        .media.testimonial
          .media-left
            %img{:alt => "", :src => "#{ asset_path('home/testimonial-3.png')}"}/
          .media-body
            %h3.media-heading Collegial Mentorship
            %blockquote
              %p I have reported to Chris at TrueCar for the past year and have been continually impressed that he manages to display strong team leadership qualities while still maintaining his chops as a technologist. He has repeatedly managed to organize and/or rally existing teams to build solid, scalable products on extremely tight deadlines while simultaneously introducing best practices for everything from behavior driven testing to API versioning. To top it all off, Chris is extremely easy to get along with and his diverse personal interests result in a unique perspective on business and life.
              %footer
                Mark Protas
                %cite{:title => "Source Title"} Software Architect, TrueCar
    .row
      .col-md-4
        .media.testimonial
          .media-left
            %img{:alt => "", :src => "#{ asset_path('home/testimonial-2.png')}"}/
          .media-body
            %h3.media-heading Machine Learner, Person
            %blockquote
              %p He can dive into the deepest realms of machine learning, and lead large teams to major successes. He sets an excellent example of work quality, intelligent processes, solid workflows, leadership, and caring. He creates a culture where a multitude of voices create harmony. Amazing leader, and one of life's great people.
              %footer
                David Williams
                %cite{:title => "Source Title"} Senior Software Engineer, Apple
      .col-md-4
        .media.testimonial
          .media-left
            %img{:alt => "", :src => "#{ asset_path('home/testimonial-3.png')}"}/
          .media-body
            %h3.media-heading Enabler
            %blockquote
              %p Chris is one of those rare individuals who is both great to work with and who understands how to enable his teams to excel at their tasks. Chris is an excellent communicator and his fair-minded approach to collaboration makes him a great asset to any software engineering endeavor. Those qualities proved invaluable to our software projects, and I very much enjoyed working with him.
              %footer
                Felix R
                %cite{:title => "Source Title"} Software Developer, Technical Product Manager
      .col-md-4
        .media.testimonial
          .media-left
            %img{:alt => "", :src => "#{ asset_path('home/testimonial-1.png')}"}/
          .media-body
            %h3.media-heading Experienced CTO
            %blockquote
              %p Through his leadership, the R&D department was transformed into a highly productive, skilled team of programmers, quality assurance engineers, designers, systems engineers, market researchers, and more. With both counsel and hands-on instruction, he guided each team to follow industry best practices and methodologies in software development and management, enabling even less experienced engineers to produce large-scale applications to meet or exceed industry standards.
              %footer
                Kiril Balandin, PhD
                %cite{:title => "Source Title"} Senior Software Developer, Crambel Capital
  / section start
  / ================
  .translucent-bg.blue
    .container
      .list-horizontal
        .row
          .col-xs-2
            .list-horizontal-item
              %img{:alt => "client", :src => "#{ asset_path('home/client-1.png')}"}/
          .col-xs-2
            .list-horizontal-item
              %img{:alt => "client", :src => "#{ asset_path('home/client-2.png')}"}/
          .col-xs-2
            .list-horizontal-item
              %img{:alt => "client", :src => "#{ asset_path('home/client-3.png')}"}/
          .col-xs-2
            .list-horizontal-item
              %img{:alt => "client", :src => "#{ asset_path('home/client-4.png')}"}/
          .col-xs-2
            .list-horizontal-item
              %img{:alt => "client", :src => "#{ asset_path('home/client-5.png')}"}/
          .col-xs-2
            .list-horizontal-item
              %img{:alt => "client", :src => "#{ asset_path('home/client-6.png')}"}/
/ section end
/ section end
/ section start
/ ================
.default-bg.space
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1.text-center A Few Words from Happy Colleagues
/ section end
/ footer start
/ ================
%footer#footer
  / .footer start
  / ================
  .footer.section
    .container
      %h1#contact.title.text-center Contact Us
      .space
      .row
        .col-sm-6
          .footer-content
            %p.large Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam deleniti voluptatibus voluptas. Repellat vel, et itaque commodi iste ab, laudantium voluptas deserunt nobis.
            %ul.list-icons
              %li
                %i.fa.fa-map-marker.pr-10
                One infinity loop, 54100
              %li
                %i.fa.fa-phone.pr-10
                +00 1234567890
              %li
                %i.fa.fa-fax.pr-10
                +00 1234567891
              %li
                %i.fa.fa-envelope-o.pr-10
                your@email.com
            %ul.social-links
              %li.facebook
                %a{:href => "https://www.facebook.com/pages/HtmlCoder/714570988650168", :target => "_blank"}
                  %i.fa.fa-facebook
              %li.twitter
                %a{:href => "https://twitter.com/HtmlcoderMe", :target => "_blank"}
                  %i.fa.fa-twitter
              %li.googleplus
                %a{:href => "http://plus.google.com", :target => "_blank"}
                  %i.fa.fa-google-plus
              %li.skype
                %a{:href => "http://www.skype.com", :target => "_blank"}
                  %i.fa.fa-skype
              %li.linkedin
                %a{:href => "http://www.linkedin.com", :target => "_blank"}
                  %i.fa.fa-linkedin
              %li.youtube
                %a{:href => "http://www.youtube.com", :target => "_blank"}
                  %i.fa.fa-youtube
              %li.flickr
                %a{:href => "http://www.flickr.com", :target => "_blank"}
                  %i.fa.fa-flickr
              %li.pinterest
                %a{:href => "http://www.pinterest.com", :target => "_blank"}
                  %i.fa.fa-pinterest
        .col-sm-6
          .footer-content
            %form#footer-form{:role => "form"}
              .form-group.has-feedback
                %label.sr-only{:for => "name2"} Name
                %input#name2.form-control{:name => "name2", :placeholder => "Name", :required => "", :type => "text"}/
                %i.fa.fa-user.form-control-feedback
              .form-group.has-feedback
                %label.sr-only{:for => "email2"} Email address
                %input#email2.form-control{:name => "email2", :placeholder => "Enter email", :required => "", :type => "email"}/
                %i.fa.fa-envelope.form-control-feedback
              .form-group.has-feedback
                %label.sr-only{:for => "message2"} Message
                %textarea#message2.form-control{:name => "message2", :placeholder => "Message", :required => "", :rows => "8"}
                %i.fa.fa-pencil.form-control-feedback
              %input.btn.btn-default{:type => "submit", :value => "Send"}/
  / .footer end
  / .subfooter start
  / ================
  .subfooter
    .container
      .row
        .col-md-12
          %p.text-center
            Copyright © 2015 Christopher Lichti by
            = succeed "." do
              %a{:href => "http://lichti.org", :target => "_blank"} Lichti.org
/ .subfooter end
/ footer end
