= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :title, class: 'control-label'
    = f.text_field :title, class: 'form-control'
  .field.form-group
    = f.label :subtitle, class: 'control-label'
    = f.text_field :subtitle, class: 'form-control'
  .field.form-group
    = f.label :author, class: 'control-label'
    = f.text_field :author, class: 'form-control'
  .field.form-group
    = f.label :isbn, class: 'control-label'
    = f.text_field :isbn, class: 'form-control'
  .field.form-group
    = f.label :description, class: 'control-label'
    = f.text_area :description, class: 'form-control'
  .field.form-group
    = f.label :purchase_url, class: 'control-label'
    = f.text_field :purchase_url, class: 'form-control'
  .field.form-group
    = f.label :cover, class: 'control-label'
    - if @book.cover && !@book.cover.empty?
      %br
      Current cover image:
      = image_tag url_for(:controller => "books", :action => "cover", :id => @book.id), class: 'tile_thumb'
    Choose a new cover.  Note: Cover image must be in the PNG format.
    = f.file_field :cover, class: 'form-control'
  .actions.form-group
    = f.submit 'Save', class: 'btn btn-primary'
