.panel.panel-default
  .panel-body
    .col-sm-8
      %h1.title= @book.title
      - if @book.subtitle
        %h4= @book.subtitle
      %h4= "by #{@book.author}"
    .col-sm-4
      - if @book.cover
        .thumbnail
          = image_tag url_for(:controller => "books", :action => "cover", :id => @book.id), class: 'tile_thumb'
      - else
        .thumbnail
          No Cover

  %table.table
    %tr
      %th
        Author:
      %td
        = @book.author
    %tr
      %th
        ISBN:
      %td
        = @book.isbn
    %tr
      %th
        Purchase:
      %td
        - if @book.purchase_url && !@book.purchase_url.empty?
          = link_to 'Purchase', @book.purchase_url, target: '_blank', class: %w'btn btn-primary'
        - else
          = link_to 'Purchase', amazon_url_for(@book), target: '_blank', class: %w'btn btn-primary'
    %tr
      %th
        Description:
      %td
        = @book.description