%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Subtitle:
  = @book.subtitle
%p
  %b Author:
  = @book.author
%p
  %b Isbn:
  = @book.isbn
%p
  %b Description:
  = @book.description
%p
  %b Cover:
  - if @book.cover
    = image_tag url_for(:controller => "books", :action => "cover", :id => @book.id)
  - else
    No Cover
%p
  %b Purchase url:
  = @book.purchase_url

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
